<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @pessoa.nome %>
</p>

<p>
  <b>Dtnasc:</b>
  <%= @pessoa.dtnasc %>
</p>

<p>
  <b>Altura:</b>
  <%= @pessoa.altura %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
